@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    color: black;
}

.pictures {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #002a52;
    padding: 6px 14px;
    transition: all 0.2s ease;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: rgb(255, 165, 0);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: rgb(255, 165, 0);
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #103E81;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.2s ease;
}

.sidebar ul li .bx-search:active {
    background: #fff;
    color: #103E81;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #002a52;
    background: #fff;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78;
    transition: all 0.2s ease;
    align-items: center;
    background-size: 100% 100%;
    overflow: hidden;
    background-color: lightgrey;
}

.home_content .text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 12px;
    overflow-y: scroll;
}

.night {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateZ(40deg);
    align-items: center;
}

.sidebar.active~.home_content {
    width: calc(100% - 240px);
    left: 240px;
}

.collapsible {
    background-color: rgb(30, 30, 30);
    color: red;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: lighter;
}

.collapsible:after {
    content: '\002B';
    color: red;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(0, 0, 0, 0.4);
}

.links {
    color: white;
    text-decoration: none
}

.home_content .text {
    color: black;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 18px;
}

ol {
    color: rgb(255, 165, 0);
}

.assigment {
    /*  position: fixed; */
    background-color: #002a52;
    color: #FFFFFF;
    padding: 10px 10px;
    width: 100%;
}

.write {
    margin-top: 50px;
    margin-left: 15px;
}

.home_content .text .project-title {
    padding: 15px 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border-radius: 6px;
}

.flip-card {
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
}

.flip-card p {
    margin-top: 20px;
    font-size: 14px;
}

.flip-card h1 {
    margin-top: 20px;
}

.flip-card-inner {
    font-size: medium;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #002a52;
    color: white;
    transform: rotateY(180deg);
}

.home_content .text .nav_list ul {
    list-style-type: none;
    margin-left: 3%;
}

.home_content .text ul {
    list-style-type: none;
    list-style: none;
}

.home_content .text .nav_list {
    margin-left: 30px;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

.home_content .text .nav_list .caret:hover {
    padding: 5px 5px;
    color: #002a52;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
}

.home_content .text .nav_list .caret {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.home_content .text .nav_list .caret::before {
    content: url(./Fotos/folder-plus-regular-24.png);
    display: inline-block;
    margin-right: 6px;
}

.home_content .text .nav_list .caret-down::before {
    content: url(./Fotos/folder-minus-regular-24.png);
}

.home_content .text .nav_list .nested {
    display: none;
}

.home_content .text .nav_list .nested i:hover {
    color: #56aaff;
    font-family: "Poppins", sans-serif;
}

.home_content .text .nav_list .active {
    display: block;
}

.home_content .text .nav_list a .report:hover {
    padding: 5px 5px;
    color: #002a52;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
}