.assign-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.assign-content-item {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.assign-content-image {
   
}

.assign-content-text {
    padding: 10px;
    max-width: 50%;
}